## Import tab separated data

In [1]:
import pandas as pd

In [2]:
from google.colab import files
uploaded = files.upload()

Saving marketing_campaign.csv to marketing_campaign (4).csv

In [3]:
#data = pd.read_csv('\Users\miauk\Dropbox\Machine Learning\dataset\archive\marketing_campaign.csv', sep = '\t')
data = pd.read_csv("marketing_campaign.csv", delimiter = '\t')

In [4]:
data.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

## Drop Irrelevant rows

In [5]:
data = data.drop(['ID','MntWines', 'MntFruits','MntMeatProducts', 'MntFishProducts', 'MntSweetProducts','MntGoldProds','NumWebPurchases', 'NumCatalogPurchases','NumStorePurchases', 'NumWebVisitsMonth', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'], axis=1)

In [6]:
data= data.sort_index(axis=1)

In [7]:
for column in data:
    print (column)

AcceptedCmp1
AcceptedCmp2
AcceptedCmp3
AcceptedCmp4
AcceptedCmp5
Dt_Customer
Education
Income
Kidhome
Marital_Status
NumDealsPurchases
Recency
Teenhome
Year_Birth

In [8]:
data

,AcceptedCmp1,AcceptedCmp2,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,Dt_Customer,Education,Income,Kidhome,Marital_Status,NumDealsPurchases,Recency,Teenhome,Year_Birth
0,0,0,0,0,0,04-09-2012,Graduation,58138.0,0,Single,3,58,0,1957
1,0,0,0,0,0,08-03-2014,Graduation,46344.0,1,Single,2,38,1,1954
2,0,0,0,0,0,21-08-2013,Graduation,71613.0,0,Together,1,26,0,1965
3,0,0,0,0,0,10-02-2014,Graduation,26646.0,1,Together,2,26,0,1984
4,0,0,0,0,0,19-01-2014,PhD,58293.0,1,Married,5,94,0,1981
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,0,0,0,0,0,13-06-2013,Graduation,61223.0,0,Married,2,46,1,1967
2236,1,0,0,0,0,10-06-2014,PhD,64014.0,2,Together,7,56,1,1946
2237,0,0,0,1,0,25-01-2014,Graduation,56981.0,0,Divorced,1,91,0,1981
2238,0,0,0,0,0,24-01-2014,Master,69245.0,0,Together,2,8,1,1956
2239,0,0,0,0,0,15-10-2012,PhD,52869.0,1,Married,3,40,1,1954

## Creating a subset of promo data for easier manipulation

In [9]:
promo_data = data.iloc[:,[0, 1, 2, 3, 4]]

In [10]:
promo_data

      AcceptedCmp1  AcceptedCmp2  AcceptedCmp3  AcceptedCmp4  AcceptedCmp5
0                0             0             0             0             0
1                0             0             0             0             0
2                0             0             0             0             0
3                0             0             0             0             0
4                0             0             0             0             0
...            ...           ...           ...           ...           ...
2235             0             0             0             0             0
2236             1             0             0             0             0
2237             0             0             0             1             0
2238             0             0             0             0             0
2239             0             0             0             0             0

[2240 rows x 5 columns]

# Determining the first succesful Campaign

In [11]:
count_row = promo_data.shape[0]
number_cmp= []

In [12]:
for i in range(count_row):
  if promo_data.iloc[i]['AcceptedCmp1'] == 1:
   number_cmp.append(1)
  elif promo_data.iloc[i]['AcceptedCmp2'] == 1:
   number_cmp.append(2)
  elif promo_data.iloc[i]['AcceptedCmp3'] == 1:
   number_cmp.append(3)
  elif promo_data.iloc[i]['AcceptedCmp4'] == 1:
   number_cmp.append(4)
  elif promo_data.iloc[i]['AcceptedCmp5'] == 1:
   number_cmp.append(5)
  else: number_cmp.append(0)

#print(number_cmp)

In [13]:
data['Succesful_cmp'] = number_cmp

In [14]:
data = data.drop(['AcceptedCmp1', 'AcceptedCmp2', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5',], axis=1)

**Cleaned data:**

In [15]:
data

,Dt_Customer,Education,Income,Kidhome,Marital_Status,NumDealsPurchases,Recency,Teenhome,Year_Birth,Succesful_cmp
0,04-09-2012,Graduation,58138.0,0,Single,3,58,0,1957,0
1,08-03-2014,Graduation,46344.0,1,Single,2,38,1,1954,0
2,21-08-2013,Graduation,71613.0,0,Together,1,26,0,1965,0
3,10-02-2014,Graduation,26646.0,1,Together,2,26,0,1984,0
4,19-01-2014,PhD,58293.0,1,Married,5,94,0,1981,0
...,...,...,...,...,...,...,...,...,...,...
2235,13-06-2013,Graduation,61223.0,0,Married,2,46,1,1967,0
2236,10-06-2014,PhD,64014.0,2,Together,7,56,1,1946,1
2237,25-01-2014,Graduation,56981.0,0,Divorced,1,91,0,1981,4
2238,24-01-2014,Master,69245.0,0,Together,2,8,1,1956,0
2239,15-10-2012,PhD,52869.0,1,Married,3,40,1,1954,0

# TODO: Convert strings to numerical value